<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content"} -->
<main id="main-content" class="wp-block-group">
<!-- wp:heading {"level":1,"className":"p-name"} -->
<h1 class="wp-block-heading p-name">Latest posts</h1>
<!-- /wp:heading -->

<!-- wp:query {"className":"h-feed","query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<!-- wp:post-template {"className":"h-entry"} -->
<!-- wp:post-featured-image {"isLink":true,"className":"u-featured","style":{"spacing":{"margin":{"top":"0","bottom":"1em"}}},"aspectRatio":"4/3","scale":"cover","width":"100%","sizeSlug":"medium_large"} /-->
<!-- wp:post-title {"isLink":true,"className":"p-name"} /-->
<!-- wp:group {"className":"post-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group post-meta"><!-- wp:post-date {"isLink":true,"className":"dt-published u-url"} /-->
<!-- wp:group {"className":"byline p-author h-card","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group byline p-author h-card"><!-- wp:paragraph {"className":"byline-prefix"} -->
<p class="byline-prefix">From&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"className":"p-name"} /-->

<!-- wp:paragraph {"className":"byline-suffix"} -->
<p class="byline-suffix">’s dashboard</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->
<!-- wp:post-terms {"term":"category","className":"p-category"} /--></div>
<!-- /wp:group -->
<!-- wp:post-content {"className":"e-content"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->
<!-- wp:query-pagination-numbers /-->
<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>No posts found.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->
<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
