<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"h-entry"} -->
<main id="main-content" class="wp-block-group h-entry">
<!-- wp:post-title {"level":1,"className":"p-name"} /-->
<!-- wp:post-featured-image {"className":"u-featured","style":{"spacing":{"margin":{"top":"1em","bottom":"1em"}}},"aspectRatio":"4/3","scale":"cover","width":"100%","sizeSlug":"large"} /-->
<!-- wp:group {"className":"post-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group post-meta"><!-- wp:post-date {"className":"dt-published"} /-->
<!-- wp:group {"className":"byline p-author h-card","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group byline p-author h-card"><!-- wp:paragraph {"className":"byline-prefix"} -->
<p class="byline-prefix">From&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"className":"p-name"} /-->

<!-- wp:paragraph {"className":"byline-suffix"} -->
<p class="byline-suffix">’s webpack config</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->
<!-- wp:post-terms {"term":"category","className":"p-category"} /-->
<!-- wp:post-terms {"term":"post_tag","className":"p-category"} /--></div>
<!-- /wp:group -->
<!-- wp:post-content {"className":"e-content"} /-->
<!-- wp:pattern {"slug":"dirtbag/webmention-invitation"} /-->
<!-- wp:post-navigation-link {"type":"previous","label":"Previous:"} /-->
<!-- wp:post-navigation-link {"label":"Next:"} /-->
<!-- wp:pattern {"slug":"dirtbag/comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
