<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"h-entry note"} -->
<main id="main-content" class="wp-block-group h-entry note">
<!-- wp:post-title {"level":1,"className":"p-name"} /-->
<!-- wp:post-featured-image {"className":"u-featured","style":{"spacing":{"margin":{"top":"1em","bottom":"1em"}}},"aspectRatio":"4/3","scale":"cover","width":"100%","sizeSlug":"large"} /-->
<!-- wp:post-date {"className":"dt-published"} /-->
<!-- wp:post-content {"className":"e-content"} /-->
<!-- wp:pattern {"slug":"dirtbag/webmention-invitation"} /-->
<!-- wp:pattern {"slug":"dirtbag/comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
